/* GLOBAL */
html,
body {
  font-family: "Roboto", sans-serif;
  color: #07011f;
  line-height: 1.6;
  overflow-x: hidden;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.title p {
  color: #f55f8d;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
}

.section-padding {
  padding-top: 115px;
}

.container {
  max-width: 1199px;
  margin: auto;
}

button {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  line-height: 1.2;
}

/* HEADER */
header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}

.header_content {
  display: flex;
  margin: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

nav {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: end;
}

nav ul {
  display: flex;
  margin-right: 20px;
}

/* trước khi hover */
.header_content li a {
  color: #07011f;
  text-decoration: none;
  font-size: 16px;
  font-weight: 501;
  cursor: pointer;
}

.header_content a:hover {
  color: #f55f8d;
}

.header_content li {
  padding: 55px 10px;
  list-style: none;
  display: list-item;
}

.header_content i {
  font-size: 10px;
  margin-top: -3px;
  vertical-align: middle;
}

.header_content a span {
  display: inline-block;
  transition: all 0.3s;
}

button:hover {
  background-position: right center;
}

.header_content li a:hover span {
  animation: upToDown 0.3s;
}

@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

/* CAROUSEL */
.carousel {
  max-width: 100%;
  margin: auto;
  background-image: url(../img/pic2.png);
  background-position: top;
  background-size: 100%;
  padding-top: 180px;
}

.Procarousel {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
}
.carousel__left {
  width: 60%;
  line-height: 8px;
}

.carousel__right {
  width: 40%;
}

.left__title p {
  color: #f55f8d;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 40px;
}

.left__title h2 {
  font-weight: 800;
  line-height: 1.1;
  color: #262626;
  font-size: 70px;
  margin-bottom: 20px;
}

.left_content p {
  color: #636363;
  font-size: 20px;
  margin-bottom: 15px;
  line-height: 30px;
}

.left_content li {
  color: #636363;
  padding: 0px 5px 10px 0;
  font-size: 20px;
  list-style: none;
}

.left_content i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 35px;
  font-weight: 900;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-right: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.left_content ul{
  margin-bottom: 20px;
}

/* SERVICE */

.service {
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}

.service__content {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  gap: 30px;
  margin-top: 40px;
}

.service__items {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px 45px;
  transform: translateY(0);
  transition: all 0.5s;
}

.service__items img {
  width: 90%;
}

.service__items:hover {
  transform: translateY(-25px);
}

/* ABOUT US */

.about {
  background-image: url(../img/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  overflow: hidden;
}

.info__right .title {
  text-align: left;
}

.about__info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  display: flex;
  width: 85%;
  margin: auto;
}

.info__left {
  width: 60%;
  position: absolute;
  left: -17%;
}

.info__left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}

.info__right {
  width: 50%;
}

.info__right title p {
  margin-bottom: 15px;
}

.right__content p {
  margin-bottom: 15px;
  color: #636363;
  font-size: 16px;
}

.right__content {
  padding-bottom: 20px;
  padding-right: 15px;
}

.right__content i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
}

.right__content li {
  list-style: none;
  color: #636363;
  color: #636363;
}

.right__content li {
  padding: 5px 0;
}

.right__content ul {
  margin-bottom: 30px;
  font-size: 16px;
}

/* NUMBER */
.number {
  background-image: url(../img/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 100px 50px;
  text-align: center;
}
.number__content {
  display: flex;
  justify-content: space-around;
}

.number__items {
  width: 25%;
}

.number__items p:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}

.number__items i {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: white;
  font-size: 45px;
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
  line-height: 80px;
}
/* FEATURE */

/* .feature .title {
  text-align: left;
} */

.feature {
  background-image: url(../img/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 0;
  overflow: hidden;
}

.feature__info {
  display: flex;
  margin: auto;
}

.feature__left,
.feature__right {
  width: 50%;
}

.feature .title h2,
.feature .title p {
  text-align: left;
}

.feature__group {
  padding: 0 50px 30px 0;
}

.feature__group :nth-of-type(2) {
  padding: 0 0 30px 50px;
}

.feature__group div {
  padding-left: 25px;
  z-index: 1;
}

.feature__items {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: all 0.6s;
}

.feature__items i {
  font-size: 80px;
  color: #f55f8d;
  line-height: 1;
  z-index: 1;
  position: relative;
  transition: all 0.6s;
}

.feature__group:nth-of-type(2) {
  padding: 0 0 30px 50px;
}

.items__content {
  padding-left: 25px;
  z-index: 1;
}

.feature__banner {
  margin-right: -80px;
}

.feature__banner img{
  max-width: 100%;
  animation: moveing 5s infinite;
}

@keyframes moveimg {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
.items__content::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.6s;
  border-radius: 20px;
}


/* fortfolio */

.fortfolio {
  background-image: url(../img/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}

.Pro__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}

.Pro_items img {
  width: 100%;
  height: 100%;
}

.Pro_items {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.Pro_item1 {
  grid-column: 1 / span 2;
}

.Pro_item5 {
  grid-column: 1 / span 2;
}
.Pro_item6 {
  grid-column: 3/4;
  grid-row: 2/4;
}

.Pro__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
  background-color: rgba(0, 0, 0, 0.4);
}

.Pro__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
}

.Pro__icon a {
  cursor: pointer;
}

.Pro__text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all 0.75s;
  color: white;
}

.Pro_items:hover .Pro__icon {
  opacity: 1;
  transform: translate(-20px, 20px);
}

.Pro_items:hover .Pro__text {
  transform: translateY(-20px);
}

.Pro_items::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0%;
  left: -100%;
  transition: all 0.75s;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
}
.Pro_items:hover::before {
  left: 125%;
}

.Pro__overlay:hover {
  opacity: 1;
}

/* PLAN */
.plan {
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.plan__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  gap: 30px;
}

.plan__items {
  padding: 35px 60px;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  border-image: 100 round;
  transition: all 0.5s;
}

.plan__items img {
  width: 125px;
}

.plan__items h3 {
  font-weight: 700;
  color: #262626;
  font-size: 2rem;
}

.plan__items p {
  font-size: 18px;
  color: #262626;
  font-weight: 600;
}

.plan__items p span {
  color: #f8ae56;
  font-weight: 800;
  font-size: 50px;
}

.plan__items ul {
  text-align: left;
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
}
.plan__items li {
  list-style: none;
  padding: 5px 0;
}

.plan__items li a {
  text-decoration: none;
}

.plan__items li i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #feeff3;
  color: #f55f8d;
  border-radius: 100%;
  margin-right: 15px;
}

.plan__items:hover {
  border-image: url(../image/br.png) 1 round;
}


/* TESTMONIAL */


.testimonial-name {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}

.testimonial-text i {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
  color: #f55f8d;
  margin-bottom: 20px;
}

.testimonial-position {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
  color: #f55f8d;
}

.testimonial-content {
  max-width: 1199px;
  margin: auto;
  text-align: center;
}

.testimonial-thumbs .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 4px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}

.testimonial-thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
}
.testimonial-comment {
  min-height: 300px;
  width: 100%;
}
.testimonial-comment .swiper-wrapper {
  padding-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
}
.testimonial-text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
  margin: 20px 100px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-pagination {
  position: relative;
}

.swiper-pagination-bullet {
  margin-right: 10px;
  background-color: #f55f8d;
}
.swiper-container {
  overflow: hidden;
}
.shape-bx {
  position: relative;
  width: 50px;
  height: 35px;
  transform: translateX(-50%);
  left: 50%;
  opacity: 1;
  background-color: #f55f8d;
  bottom: 17px;
}
.shape-bx::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../img/pattern12.png);
  background-position: bottom;
  background-size: contain;
  height: 100%;
  width: 100%;
  transition: all 1s;
}

.swiper-slide-active .testimonial-pic::before {
  content: "";
  display: block;
  background-color: #f55f8d;
  width: 19px;
  height: 19px;
  position: absolute;
  bottom: 34px;
  left: 37px;
  border-radius: 50%;
}

.swiper-slide-active .testimonial-pic::after {
  content: "";
  display: block;
  background-color: #f55f8d;
  width: 11px;
  height: 11px;
  position: absolute;
  bottom: 0;
  left: 41px;
  border-radius: 50%;
}

/* BLOG */
.blog {
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-bottom: 50px;
}

.blog__item {
  text-align: left;
  background: rgba(245,95,141,.1);
  border-radius: 8px;
}

.blog__header{
  position: relative;
}

.blog__header img{
  width: 100%;
  border-radius: 8px;
}

.blog__header p {
  position: absolute;
  background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;
  border-radius: 8px;
  padding: 10px;
  color: white;
  top: 200px;
  left: 15px;
  font-size: smaller;
}

.blog__body {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
  text-align: left;
}

.blog__body h3{
  font-size: 27px;
  font-weight: 700;
}
.blog__body p{
  color: #888;
  font-size: 17px;
}

.blog__footer{
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0,0,0,.05);
  padding: 15px;
}

.blog__footer p i {
  color: #f55f8e;
  margin-right: 3px;
  font-size: 30px;
  vertical-align: sub;
}

.blog__footer span {
  color: #f55f8e;
  margin-right: 15px;
}
.blog__footer p {
  align-items: center;
}



/* Footer */

footer {
  background-image: url(../img/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}

footer::before {
  content: "";
  background-image: url(../img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer__top {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  background-image: url(../img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
}

.footer__text,
.footer__form {
  width: 50%;
}

.footer__text h2 {
  font-size: 28px;
  color: #262626;
}

.footer__form form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

.footer__form:hover button {
  background-position: right center;
}

.footer__form input {
  padding: 20px 50px;
  font-size: 20px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
}

.footer__form button:hover i {
  animation: lefttoright .5s;
}

@keyframes lefttoright {
  49% {
      transform: translateX(100%);
  }
  50% {
      transform: translateX(-100%);
      opacity: 0;
  }
  51% {
      opacity: 1;
  }
}

.footer__bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
}

.footer__items {
  width: 25%;
}

.footer__items a {
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
}

.footer__contact li {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
}

.footer__contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  display: block;
  border-radius: 50px;
}



.footer__items h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}

.footer__items h3::before {
  content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    width: 15px;
    height: 4px;
    border-radius: 10px;
}

.footer__items h3::after {
  content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    width: 50px;
    height: 4px;
    border-radius: 10px;
}


.footer__items li {
  list-style: none;
  padding: 10px 0;
}

.footer__items i {
  font-weight: 700;
  margin-right: 10px;
}

.footer__items a {
  text-decoration: none;
}

.footer__copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}

.footer__copycontent {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.footer__left span {
  color: #f55f8d;
}

.footer__copyright a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}

.backToTop {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  text-align: center;
  background-color: #f55f8d;
  font-weight: bold;
  color: #fff;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  opacity: 1;
  visibility: hidden;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  display: block;
}

.cd-top--is-visible { 
  visibility: visible;
  opacity: 1;
}
